body { font-size: 12px; }
.table thead {
    background-color: rgb(253, 199, 69);
    background: -webkit-linear-gradient(top, rgb(172, 255, 133) 0%, rgb(40, 196, 63) 100%);
    background: -o-linear-gradient(top, rgb(172, 255, 133) 0%, rgb(40, 196, 63) 100%);
    background: -ms-linear-gradient(top, rgb(172, 255, 133) 0%, rgb(40, 196, 63) 100%);
    background: -moz-linear-gradient(top, rgb(172, 255, 133) 0%, rgb(40, 196, 63) 100%);
    background: linear-gradient(to bottom, rgb(172, 255, 133) 0%, rgb(40, 196, 63) 100%);
}
.table tbody td>span { display:block; padding-top: 1px; padding-bottom: 1px; padding-left: 1px;}
.table tbody td>span { margin: 3px 5px;}
.table-condensed>thead>tr>th { padding-left: 10px;}

.input-sm, select.input-sm { height: 25px; padding: 3px 5px;}
select.input-sm { padding: 3px 1px;}
.blue-gradient {
    background: -webkit-linear-gradient(top, rgb(102, 143, 213) 0%, rgb(63, 112, 194) 91%, rgb(45, 88, 162) 99%, rgb(35, 71, 129) 100%);
    background: -o-linear-gradient(top, rgb(102, 143, 213) 0%, rgb(63, 112, 194) 91%, rgb(45, 88, 162) 99%, rgb(35, 71, 129) 100%);
    background: -ms-linear-gradient(top, rgb(102, 143, 213) 0%, rgb(63, 112, 194) 91%, rgb(45, 88, 162) 99%, rgb(35, 71, 129) 100%);
    background: -moz-linear-gradient(top, rgb(102, 143, 213) 0%, rgb(63, 112, 194) 91%, rgb(45, 88, 162) 99%, rgb(35, 71, 129) 100%);
    background: linear-gradient(to bottom, rgb(102, 143, 213) 0%, rgb(63, 112, 194) 91%, rgb(45, 88, 162) 99%, rgb(35, 71, 129) 100%);
}
.btn-info {
    background-color: #538ad1;
    border-color: rgb(35, 71, 129);
}
.btn-info:hover { background-color: rgb(35, 71, 129);}

.table {
    width: 100%;
    margin-bottom: 0px;
}
